<footer style="clear:both;background-color:gray;">
	<div class="container">
		<div class="row text-left">
			<div class="col-md-1 col-md-5">
				<h1 class="text-light">About us</h1>
				<p class="text-light"> Our mission is to bring the power of reading to your world — because
					we’re booklovers, just like you. Why do we do it? Because we believe stories shape who we are, and
					words can enhance and transform the world around us.</p>
				<p class="pt-4 text-light">The E-books which you don't find in store, you can email us for giving
					your
					suggestion and adding it in ebook store.
				</p>
			</div>

			<div class="col-md-6 text-right">
				<h4 class="text-light">Follow us</h4>
				<p class="text-light">Let us be Social</p>
				<a class="btn btn-lg" href="#"><i class="fab fa-facebook"></i></a>
				<a class="btn btn-lg" href="#"><i class="fab fa-instagram"></i></a>
			</div>
			<div class="col-md-6">
				<p class="text-light">Email us at ebookstore124@gmail.com</p>
			</div>
		</div>
	</div>
</footer>