<nav class="navbar navbar-expand-lg navbar-light bg-light">
	<a class="navbar-brand" href="/">
		<h4 style="color:#707070;"><i class="fas fa-book-reader"></i> Ebook Store </h4>
	</a>
	<div class="logo-container">
		<a class="shop-cart" href="/shopping-cart">
			<h5>
				<i class="fa fa-shopping-cart" aria-hidden="true"></i> Shopping Cart<span class="badge badge-light">
					{{session.cart.totalQty}}</span></h5>
		</a>
	</div>
</nav>