<div class="container">
	<h1 style=" padding:40px"><i class="fas fa-book-reader"></i> Ebook Store</h1>
	<h4>Thank you for visiting us and making your purchase! We're glad that you found what you were looking for. It is
		our goal that you are always happy with what you bought from us, so please let us know if your buying experience
		was
		anything short of excellent. We look forward to seeing you again.
		The E-book Which you had ordered will be email to you within 3 Hours
	</h4>


	<h3><a style="font-weight: bolder;" href="/user/order" class="btn btn-light btn-lg text-black text-bold">Go to My
			Orders</a></h3>
</div>